<nav class="nav">
        <ul class="nav-item-list">
          <li class="nav-item"><a href="/"> home</a></li>
          <li class="nav-item"><a href="/schedule"> make a schedule</a></li>
        </ul>
      </nav>